twine
flake8
flake8-formatter-junit-xml
flake8-builtins
flake8-commas
pylint>=2.3.0; python_version >= '3.4'
pylint_junit; python_version >= '3.4'
python-language-server[all]
unittest-xml-reporting
-r requirements.txt
